@tailwind base;
@tailwind components;
@tailwind utilities;

/* منع الـ scroll الأفقي */
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ea6c0f;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}